In [2]:
from pymongo import MongoClient
import pymongo
MONGO_HOST = 'localhost'
MONGO_PORT = 27017
MONGO_DB = 'PRO734'
MONGO_COLLECTION = 'Twitter_name_result'
MONGO_COLLECTION1 = 'News_result'

def mongo_connection(host, port, db, collection):
    try:
        conn = MongoClient(host, port)
        return conn[db][collection]
    except:
        raise

def mongo_logging(connection, content):
    try:
        connection.insert_one(content)
    except:
        raise

conn = mongo_connection(MONGO_HOST,MONGO_PORT,MONGO_DB,MONGO_COLLECTION )
conn1 = mongo_connection(MONGO_HOST,MONGO_PORT,MONGO_DB,MONGO_COLLECTION1 )

In [6]:
from altair import *

ImportError: No module named altair

In [4]:
import pandas as pd

df = pd.DataFrame(list(conn.find()))
df1 = pd.DataFrame(list(conn1.find()))
final = pd.DataFrame()
#final['keyword'] = ''
#final['user_link'] = ''

In [5]:
df1

,NE_ID,_id,article_url
0,476334,58da4b603004e32af8139586,[]
1,32627,58da4b623004e32af8139588,[]
2,39124,58da4b633004e32af813958a,[]
3,60827,58da4b653004e32af813958c,[]
4,34824,58da4b693004e33cbc04b58c,[]
5,36449,58da4b6b3004e33cbc04b58e,[]
6,37752,58da4b6c3004e33cbc04b590,[bloomberg.com -]
7,38796,58da4b6e3004e33cbc04b592,[]
8,27120,58da4b703004e33cbc04b594,[]
9,39583,58da4b723004e33cbc04b596,[]
10,39736,58da4b743004e33cbc04b598,[]
11,40391,58da4b763004e33cbc04b59a,[]
12,30201,58da4b783004e33cbc04b59c,[]
13,40004,58da4b7a3004e33cbc04b59e,[]
14,40536,58da4b7c3004e33cbc04b5a0,[]
15,1791394,58da4b7e3004e32af813958e,"[2017remembrancebikeride.gofundraise.com.au -,..."
16,27800,58da4b7e3004e33cbc04b5a2,[]
17,28446,58da4b803004e33cbc04b5a4,[]
18,37239,58da4b823004e33cbc04b5a6,[]
19,1794145,58da4b843004e33cbc04b5a8,[]
20,33353,58da4b863004e33cbc04b5aa,[]
21,18471,58da4b883004e33cbc04b5ac,[]
22,18863,58da4b8b3004e33cbc04b5ae,[bioportfolio.co.uk -]
23,28062,58da4b903004e33cbc04b5b0,"[link.springer.com -, exchange4media.com -, en..."
24,6245,58da4b923004e33cbc04b5b2,[]
25,29832,58da4b9b3004e32af8139590,"[dailymail.co.uk -, crownresorts.com.au -, au...."
26,1814587,58da4b9d3004e32af8139592,[]
27,12755,58da4ba73004e33cbc04b5b4,"[ooyuz.com -, einpresswire.com -, upi.com -, t..."
28,1794726,58da4ba93004e33cbc04b5b6,[]
29,1820092,58da4baa3004e33c3c241f6b,"[sinonk.com -, mashable.com -, freekorea.us -,..."
...,...,...,...
65766,1820062,58dc0df83004e315785be872,[]
65767,1820063,58dc0dfa3004e315785be874,[]
65768,1820064,58dc0dfb3004e315785be876,[]
65769,1820065,58dc0dfc3004e315785be878,[]
65770,1820066,58dc0dfd3004e315785be87a,[]
65771,1820067,58dc0dfe3004e315785be87c,[]
65772,1820068,58dc0dff3004e315785be87e,[]
65773,1820069,58dc0e003004e315785be880,[]
65774,1820070,58dc0e013004e315785be882,[]
65775,1820071,58dc0e023004e315785be884,[]
65776,1820072,58dc0e033004e315785be886,[]
65777,1820073,58dc0e043004e315785be888,[]
65778,1820074,58dc0e053004e315785be88a,[]
65779,1820075,58dc0e063004e315785be88c,[]
65780,1820076,58dc0e073004e315785be88e,[]
65781,1820077,58dc0e083004e315785be890,[]
65782,1820078,58dc0e093004e315785be892,[]
65783,1820079,58dc0e0a3004e315785be894,[]
65784,1820080,58dc0e0b3004e315785be896,[]
65785,1820081,58dc0e0d3004e315785be898,[]
65786,1820082,58dc0e0e3004e315785be89a,[]
65787,1820083,58dc0e0f3004e315785be89c,[]
65788,1820084,58dc0e103004e315785be89e,[]
65789,1820085,58dc0e113004e315785be8a0,[]
65790,1820086,58dc0e123004e315785be8a2,[]
65791,1820087,58dc0e133004e315785be8a4,[]
65792,1820088,58dc0e143004e315785be8a6,[]
65793,1820089,58dc0e153004e315785be8a8,[]
65794,1820090,58dc0e163004e315785be8aa,[]
65795,1820091,58dc0e173004e315785be8ac,[]

In [6]:
for i in df.index:
    for j in range(len(df['twitter_name'][i])):
        df2 = pd.DataFrame([[df['NE_ID'][i], df['twitter_name'][i][j]]], columns = ['NE_ID', 'twitter_name'])
        final = final.append(df2, ignore_index=True)

In [9]:
final.to_csv('twitter_account_rr.csv', encoding='utf-8', index=False)

In [11]:
final2 = pd.DataFrame()
for i in df1.index:
    for j in range(len(df1['article_url'][i])):
        df2 = pd.DataFrame([[df1['NE_ID'][i], df1['article_url'][i][j]]], columns = ['NE_ID', 'article_url'])
        final2 = final2.append(df2, ignore_index=True)

In [13]:
final2.to_csv('news_rr.csv', encoding='utf-8', index=False)

In [3]:
import pandas as pd
df1 = pd.DataFrame(list(conn1.find()))
final = pd.DataFrame()

In [7]:
df1['count'] = df1['article_url'].apply(lambda x: len(x))

In [9]:
df1.to_csv('check_login.csv')

In [11]:
df1['NE_ID']

0         476334
1          32627
2          39124
3          60827
4          34824
5          36449
6          37752
7          38796
8          27120
9          39583
10         39736
11         40391
12         30201
13         40004
14         40536
15       1791394
16         27800
17         28446
18         37239
19       1794145
20         33353
21         18471
22         18863
23         28062
24          6245
25         29832
26       1814587
27         12755
28       1794726
29       1820092
          ...
65766    1820062
65767    1820063
65768    1820064
65769    1820065
65770    1820066
65771    1820067
65772    1820068
65773    1820069
65774    1820070
65775    1820071
65776    1820072
65777    1820073
65778    1820074
65779    1820075
65780    1820076
65781    1820077
65782    1820078
65783    1820079
65784    1820080
65785    1820081
65786    1820082
65787    1820083
65788    1820084
65789    1820085
65790    1820086
65791    1820087
65792    1820088
65793    1820089
65794    1820090
65795    1820091
Name: NE_ID, dtype: int64

In [14]:
from psycopg2 import connect
import pandas as pd
import numpy as np
import requests
import psycopg2 as db

NE_DB = "dbname='rest_in_peace' user='dbo' host='10.0.0.137' password='sentifi'"
PROFILE_DB = "dbname='da0' user='dbw' host='da0.ssh.sentifi.com' password='sentifi.da0'

# Connect to the Postgres Database
def connect_postgres():
    try:
        conn = db.connect(NE_DB)
        print("Initialised Connection")
        return conn
    except:
        print "I am unable to connect to the database"

SyntaxError: EOL while scanning string literal (<ipython-input-14-67af48ea7671>, line 8)

In [13]:
conn = connect_postgres()
cur = conn.cursor()
cur.execute("set statement_timeout to 300000; select pg_sleep(2);")
result_df = pd.DataFrame()
NE_list = str(tuple(df1['NE_ID']))
query = """SELECT named_entity_id, name FROM named_entity WHERE named_entity_id in {0} """.format(NE_list)
cur.execute(query)
temp = cur.fetchall()
temp = map(list, temp)
df = pd.DataFrame(temp)
result_df = pd.concat([result_df, df])
conn.close()
result_df.head()

NameError: name 'connect_postgres' is not defined